body {
	font-family: "Poppins", monospace;
	width: 100vw;
	font-size: 18px;
	line-height: 1.4;
	overflow-x: hidden;
    background: rgba(0,0,0);
	color: rgba(255,255,255);
}

.imageclass{
    margin: 60px;
    background: rgba(0,0,0);
}
.imagesize{
    background: rgba(0,0,255);
    margin: auto;
    width: 600px;
    height: 600px;
}
h1{
    text-align: center;
    color: rgba(0,0,255);
}
img {
    height: 600px;
    object-fit: cover;
  }
p{
    text-align: center;
}