body {
	font-family: "Poppins", monospace;
	width: 100vw;
	font-size: 18px;
	line-height: 1.4;
	overflow-x: hidden;
    background: rgba(0,0,0);
	color: rgba(255,255,255);
}

.imageclass{
    margin: 60px;
    background: rgba(0,0,0);
}
h1{
    padding: auto;
}